body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    
}

.mat-elevation-z8{
    width: 300px;
    border: 1px solid rgb(15, 15, 16);
    margin: auto;
    
    
  }  

  .Input-type .textbox{
    width: 250px;
    padding: 14px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    
  }
