<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">&nbsp;&nbsp;&nbsp;
    <a class="navbar-brand" href="#">𝐊𝐚𝐢𝐳𝐞𝐧 𝐓𝐞𝐜𝐡𝐧𝐨𝐥𝐨𝐠𝐲</a>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" style="color: white;" routerLink="/MainPage">𝐇𝐨𝐦𝐞</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" style="color: white;" routerLink="/Billing" >𝐂𝐫𝐞𝐚𝐭𝐞𝐍𝐞𝐰</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" style="color: white;" routerLink="/AddNewSupplier" >𝐀𝐝𝐝𝐒𝐮𝐩𝐩𝐥𝐢𝐞𝐫</a>
        </li>
        
      </ul>
    </div>
  </nav>
  <br><br><br>
    
<div class="mat-elevation-z8"><br>
    <h1>𝐂𝐫𝐞𝐚𝐭𝐞 𝐁𝐢𝐥𝐥𝐢𝐧𝐠</h1>&nbsp;&nbsp;
     
    
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>CustomerID</mat-label>
        <input matInput value="0" disabled="" [(ngModel)] = "ObjPO.POID">
      </mat-form-field> &nbsp;&nbsp;&nbsp;
  
    <mat-form-field appearance="outline">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker"  [(ngModel)] = "ObjPO.Date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>&nbsp;&nbsp;&nbsp;
  

  
    <mat-form-field appearance="outline">
      <mat-label>SupplierName</mat-label>  
      <mat-select [(ngModel)] = "ObjPO.SupplierID" >
        <mat-option *ngFor="let GetSupplierDetails of ObjSupplier" [value]="GetSupplierDetails.supplierID"  >
          {{GetSupplierDetails.supplierName}}  
        </mat-option>
      </mat-select>
    </mat-form-field>&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary" routerLink="/AddNewSupplier">Add Supplier</button>
    
    <br><br>   
</div>
     

<div class="mat-elevation-z8"><br>
 <h1 >𝐈𝐭𝐞𝐦 𝐃𝐞𝐭𝐚𝐢𝐥𝐬</h1>  

 <table class="table table-bordered" style="width: 100%;">
  <thead >
      <tr>
          <td>S.No</td>
          <td>ItemName</td>
          <td>UnitPrice</td>
          <td>Quantity</td>
          <td>TotalPrice</td>
          <td>Action</td>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of ObjPO.ItemMaster  ; let i = index">
          <td>{{i+1}}</td>
          <td>
              <input [(ngModel)]="item.itemID">
          </td>
          <td>
              <input [(ngModel)]="item.quantity">
          </td>
          <td>
              <input [(ngModel)]="item.unitPrice">
          </td>
          <td>
              <input [(ngModel)]="item.totalPrice">
          </td>
          <td style="text-align: center;"> 
            <mat-icon (click)="Delete(i)" >delete</mat-icon>
          </td>
      </tr>
  </tbody>
  <tfoot>
      <tr>
          <td colspan="6">
            
            <button  mat-raised-button color="primary"  (click)="AddItems()">[+]</button>
  
          </td>
      </tr>
  </tfoot>
 </table>
 

 






<br><br>
<div class="button" >
<button *ngIf="!isEditing" mat-raised-button color="primary" style="width: 100px;" (click)="Save()" >Save</button>

<button *ngIf="isEditing" mat-raised-button color="primary" (click)="Update()">Update</button>  |

<button mat-raised-button color="warn" style="width: 100px;"routerLink="/Home"  >Cancel</button>



</div>
<br><br>

 </div>




    
</body>